body {
    background-color:#181818;
    padding-left:80px;
  }
  .client{
     color: white;
     margin-top:80px;
     margin-bottom:23px;
     font-size:7.5px;
  }
  
  .HOW {
    color: white;
     font-size:7.5px;
  }
  .talent{
   color: white;
   margin-top:80px;
   margin-bottom:23px;
   font-size:7.5px;
   
}

.work{
  color: white;
   font-size:7.5px;
   
   
  
}
  